header{
    background-color: lightgoldenrodyellow;
    
   margin-left: 10%;
   margin-right: 10%;
}
header>nav>ul,#travBangalore,#travMangalore,#trump,#modi,#cricket,#football{
 
    float: right;
    
}
header>nav>ul>li{
    display:inline-block;
    padding: 20px;
    
}
header>nav>img{
   width: 10%;
    height: 100px;
} 
header>nav>ul>li>a{
    text-decoration: none;
    
   
}
header>nav>ul>li>a:hover{
    background-color:lightyellow;
    color:red;
}
                                            
#footer {
    text-align: center;
    padding: 2px;
    background-color: DarkSalmon;
    color: white;
    bottom: 0;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 0%;
    position: fixed;
    width: auto;
  }
  #date{
    float: right;
    margin-right: 10%;
  }
  #welcome{
    margin-left: 10%;
  }
  .margin{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 40px;
  }
  
    #cricketnews{
        margin-left: 10%;
        margin-top: 20px;
    }
    #sportsheader{
        margin-left: 10%;
        margin-right: 10%;
        background-color: goldenrod;
        margin-top: 0%;
    }
    #travelheader{
        margin-left: 10%;
        margin-right: 10%;
        background-color: goldenrod;
        margin-top: 0%;
    }
    #newsheader{
        margin-left: 10%;
        margin-right: 10%;
        background-color: goldenrod;
        margin-top: 0%;
    }
    #technologyheader{
        margin-left: 10%;
        margin-right: 10%;
        background-color: goldenrod;
        margin-top: 0%;
    }
    #weatherheader{
        margin-left: 10%;
        margin-right: 10%;
        background-color: goldenrod;
        margin-top: 0%;
    }
    .newsmargin{
        margin-left: 10%;
        margin-right: 10%;
    }
    #travelHeadline2{
     background-color: aqua;
     color: brown;
     height: 40px;
     padding-top: 14px;
     font-size: x-large;
      /* doubt */
        }
        #cricket,#modi{
            float: left;
        }
        